@media screen and (min-width: 1025px) {
    #menubtn{
        display: none;
    }
    .navbar{
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
    }
    .navbarlinks-desktop{
        display: flex;
        flex-direction:row;
        text-align: center;
        gap: 25px;
        
    }
    .navbarlinks-mobile{
        display: none;
    }
    .welcome{
        padding: 5vw 15vw 5vw 15vw;
        text-align: center;
    }
}