<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/CSS/phone.css">
        <link rel="stylesheet" href="/CSS/desktop.css">
        <link rel="stylesheet" href="/CSS/tablet.css">
        <link rel="stylesheet" href="/CSS/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
        
        <title>Home</title>
    </head>
    <body>
        <div id = "navbarlinks-mobile" class = "navbarlinks-mobile">
            <a href="/Pages/about.html">About Us</a>
            <hr>
            <a href="/Pages/stories.html">Our Stories</a>
            <hr>
            <a href="/Pages/team.html">Our Team</a>
            <hr>
            <a href="/Pages/awards.html">Our Awards</a>
            <hr>
            <a href="/Pages/products.html">Our Products</a>
        </div>
        <div id = "sidenav" class = "sidenav">
            <div id="sidenavbg" onclick="closeNav()"></div>   
        </div>
        
        <div class = "navbar">
            <div class = "logo">
                <img id = "logo" src="/Img/logowhite.png" alt="Logo">
            </div>
            <div class = "navbarlinks-desktop">
                <a href="/Pages/about.html">About Us</a>
                <a href="/Pages/stories.html">Our Stories</a>
                <a href="/Pages/team.html">Our Team</a>
                <a href="/Pages/awards.html">Our Awards</a>
                <a href="/Pages/products.html">Our Products</a>
            </div>
            <div class = "menubutton">
                <img id = "menubtn" src="/Img/menu.png" alt="Logo" onclick="openNav()">
            </div>
        </div>
        
        <script src="JS/script.js"></script>
    </body>
</html>